/* Reset some basic styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f6fafa; /*linear-gradient(135deg, #6a11cb, #2575fc)*/
}

/* Ensure the container covers the entire viewport */
/* Ensure the container covers the entire viewport */
.toggle-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 90vh;
  background: #f6fafa; /*linear-gradient(135deg, #6a11cb, #2575fc)*/
  font-family: "Arial", sans-serif;
}

.signup-card {
  background: #4ec1bf;
  border-radius: 12px; /* More subtle border radius */
  padding: 40px 50px;
  width: 500px; /* Slightly reduced width */
  max-width: 100%;
  text-align: center;
  box-sizing: border-box; /* Ensure padding is included in width */
}
.tool-type-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 14px;
  color: rgb(122, 122, 122);
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tool-type-select:focus {
  outline: none;
  border-color: #dab943;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* .tool-type-select::-ms-expand {
  display: none;
  border-radius: 4px;
} */

/* Optional: Add a custom arrow */
.tool-type-select-container {
  position: relative;
  width: 100%;
}

.tool-type-select-container::before {
  content: "\25BC"; /* Unicode for the downward arrow */
  position: absolute;
  top: 41%;
  right: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: 16px; /* Increase the size if necessary */
  color: rgb(
    102,
    102,
    102
  ); /* Ensure the color contrasts with the background */
}

input[type="date"] {
  font-size: 14px; /* Adjust font size */
  color: rgb(122, 122, 122);
}
/* Add space above the "Already have an account?" text */
/* Container for the account question and login link */
.account-links {
  display: flex; /* Use flexbox to align children in a row */
  justify-content: center; /* Center-align items horizontally */
  align-items: center; /* Center-align items vertically */
  margin-top: 20px; /* Space above the account-links container */
}

.account-question {
  font-size: 16px;
  color: rgb(72, 71, 71);
  margin-right: 3px;
  margin-top: 7px;
}

.login-link {
  margin-top: 5px;
  display: inline-block;
  padding: 8px 8px; /* Adjust padding */
  border: none;
  border-radius: 8px; /* Rounded corners */
  background: none; /* Remove background */
  color: black; /* Link color */
  font-size: 16px; /* Adjust font size */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Pointer cursor */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.login-link:hover {
  color: white; /* Darker color on hover */
  background-color: #dab943; /* Light background on hover */
}
.signup-form-company{
  transform: translateX(75%);
	opacity: 0;
	animation: slide-in-anim 0.5s ease-out forwards;
}

@keyframes slide-in-anim {
	0% {
		opacity: 0;
	}
  50%{
    opacity: 0;
  }
	100% {
    transform: translateX(0%);
		opacity: 1;
	}
}

.signup-form-employee{
  transform: translateX(-75%);
	opacity: 0;
	animation: slide-in-anim 0.5s ease-out forwards;
}

@keyframes slide-in-anim {
	0% {
		opacity: 0;
	}
  50%{
    opacity: 0;
  }
	100% {
    transform: translateX(0%);
		opacity: 1;
	}
}

.login-form .signup-button {
  width: calc(100%); /* Adjust width */
  padding: 12px 16px; /* Adjust padding */
  border: none;
  border-radius: 12px; /* Rounded corners */
  background-color: #dab943;
  box-shadow: 3px 5px 10px rgba(111, 111, 111, 0.4);
  color: white;
  font-size: 16px; /* Adjust font size */
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-bottom: 15px;
}